[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
psutil = "*"
hwstats = {editable = true, path = "."}
plotly = "*"
xxhash = "*"

[dev-packages]
black = "*"
isort = "*"
jupyter = "*"
notebook = "*"
pre-commit = "*"
pylint = "*"
pyinstaller = "*"
setuptools-scm = "*"
build = "*"
hwstats = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
