h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 0.5em 0;
}

table {
  background-image: url('/static/images/black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    border-collapse: separate;
    width: 100%;
    border: #ffffff ;
    color: #ffffff;
  }

  th {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: left;
    color : rgb(255, 255, 255)
  }

  td {
    border: 1px solid #fcfcfc;
    padding: 8px;
  }
body{
  background-image: url('/static/images/87115.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
