{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to Hardware Stats {% endblock %}</h1>
{% for process in process_list %}
<div class="card">
    <div class="card-body">
        <a href="#">
            <h5 class="card-title">{{ process.name }}</h5>
        </a>
        <div class="row">
            <!-- By default Bootsrap uses a 12 column grid. The col-md-# tells each column how many spaces to take up -->
            <div class="col-md-2">
                <p class="card-text">pid: {{ process.pid }}</p>
            </div>
            <div class="col-md-4">
                <p class="card-text">Started: {{ process.createTime }}</p>
            </div>
            <div class="col-md-4">
                <p class="card-text">pidHash: {{ process.pidHash }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
