{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to Hardware Stats {% endblock %}</h1>
<h1>Processes table </h1>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>

    <table style="width: 100%;">
        <tr>
            <th> Process name</th>
            <th> Process id</th>
            <th> Process creation Time</th>
            <th> Proces Hashed Id</th>
        </tr>
        {% for process in process_list %}
        <tr>
            <td><a href="">{{ process.name }}</a></td>
            <td>{{ process.pid }}</td>
            <td>{{ process.createTime }}</td>
            <td>{{ process.pidHash }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
